*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
  
body {
    background: #f4f4f4;
    color: #111;
    transition: 0.3s;
}

body.dark {
    background: #111;
    color: #eee;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background: inherit;
    backdrop-filter: blur(10px);
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

#hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.small-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

section {
    padding: 80px 50px
}

h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.skill {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


body.dark .skill {
    background: #222;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    padding: 20px;
    background: #ccc;
    border-radius: 10px;
}

body.dark .project-card {
    background: #222;
}

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}